.answer{
  width: 192rem;

  &__inner{
    width: 160rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    @include respond(phone){
      display: block;
    }

    @include respond(port){
      display: block;
    }

    @include respond(land){
      width: 120rem;
      display: block;
      margin: 0 auto;
      margin-bottom: 5rem;
    }
  }

  &__answer__img{
    display: block;
    width: 69.2rem;
    height: 54.8rem;

    @include respond(phone){
      display: block;
    }

    @include respond(port){
      display: block;
      margin: 0 auto;
    }

    @include respond(land){
      display: block;
      width: 120rem;
      margin-bottom: 5rem;
    }
  }

  &__form{
    display: block;
    width: 90.8rem;
    padding-top: 7.5rem;
    background: linear-gradient(243.89deg,
    #25BA9F 2.05%, #1B7F6D 52.81%, #157161 75.54%, #09463B 101.06%);
    position: relative;

    @include respond(phone){
      display: block;
    }

    @include respond(port){
      display: block;
      margin: 0 auto;
    }

    @include respond(land){
      display: block;
      margin: 0 auto;
      width: 120rem;
      margin-bottom: 5rem;
    }

      &-title{
        display: block;
        margin: 0 auto;
        margin-bottom: 3rem;
        text-align: center;

        font-family: Open "Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 49px;
        text-align: center;
        letter-spacing: 0.045em;
        text-transform: uppercase;
        color: #FFFFFF;
      }

      &-input{
        display: inline-block;
        height: 3rem;
        margin: 0 auto;
        margin-bottom: 6rem;
        outline: none;
        border: none;
        border-bottom: 1px solid #FFFFFF;
        background: transparent;

        font-family: Open "Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.025em;
        color: rgba(255, 255, 255, 0.46);


        &::placeholder{
          padding-left: 2rem;
          color: rgba(255, 255, 255, 0.46);
        }

        &_1{
          display: block;
          width: 64.8rem;
          margin-bottom: 7rem;
        }

        &_2{
          display: inline-block;
          width: 29.5rem;
          margin-left: 5.6rem;
          margin-right: 5rem;
        }

        &_3{
          display: inline-block;
          width: 29.5rem;
          margin-right: 6rem;
        }
      }

      &-textarea{
        width: 648px;
        height: 158px;
        background: transparent;
        outline: none;
        border: 1px solid #FFFFFF;
        border-radius: 13px;

        font-family: Open "Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.025em;
        color: rgba(255, 255, 255, 0.46);

        &::placeholder{
          padding-left: 2rem;
          padding-top: 2rem;
          color: rgba(255, 255, 255, 0.46);
        }
      }

      &-img{
        width: 3.8rem;
        height: 3.8rem;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;


        &_1{
          top: 45rem;
          left: 68rem;
        }

        &_2{
          top: 45rem;
          left: 73rem;
        }
      }
    }
}
